---
import { SITE_TITLE } from "../config";
---

<footer class="p-6">
  <p
    class="text-lg text-center text-gray-400 hover:text-gray-300 hover:cursor-pointer"
    onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
  >
    Scroll to Top
  </p>
</footer>
