---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_WIDTH } from "../config";
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
const github_url = import.meta.env.PUBLIC_GITHUB_URL;
const linkedin_url = import.meta.env.PUBLIC_LINKEDIN_URL;
---

<header class="flex flex-col col-span-8 gap-10 lg:col-span-2 lg:gap-40">
  <div
    class="flex flex-col gap-4 text-center items-center lg:text-left lg:items-start"
  >
    <a href="/" class="text-5xl xl:text-6xl font-bold">
      <p class="text-blue-600">Stephen</p>
      <span class="">Rutherford</span>
    </a>
    <p class="text-xl xl:text-2xl text-gray-500 pb-10 lg:pb-0">
      Fraud analyst & front-end developer.
    </p>
    <div class="hidden lg:flex lg:flex-row lg:items-center lg:gap-6">
      <HeaderLink href={github_url}><GitHub /></HeaderLink>
      <HeaderLink href={linkedin_url}><LinkedIn /></HeaderLink>
    </div>
    <!--  -->

    <!--  -->

    <div class="absolute top-0 right-0 lg:hidden">
      <button class="peer transition-all duration-200">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-16 h-16 text-gray-400 mt-8 mr-8 hover:text-gray-300"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
      <div
        class='w-screen bg-gray-900 absolute top-0 right-0 z-10 after:content-[""] after:inline-block after:absolute after:top-0 after:h-full after:-z-20 peer-focus:top-0 peer-focus:opacity-100 peer-focus:visible transition-all duration-300 invisible opacity-0 flex flex-col gap-10 py-10'
      >
        <HeaderLink href="/projects">Projects</HeaderLink>
        <HeaderLink href="/snippets">Snippets</HeaderLink>
        <HeaderLink href="/contact">Contact</HeaderLink>
        <HeaderLink href={github_url}>GitHub</HeaderLink>
        <HeaderLink href={linkedin_url}>LinkedIn</HeaderLink>
      </div>
    </div>
  </div>

  <!-- end -->

  <!-- </div> -->

  <!-- TODO: Testing -->

  <!-- ! Desktop Nav -->
  <nav class="hidden lg:flex lg:items-start lg:flex-col lg:gap-4">
    <HeaderLink href="/projects">Projects</HeaderLink>
    <HeaderLink href="/snippets">Snippets</HeaderLink>
    <HeaderLink href="/contact">Contact</HeaderLink>
  </nav>
</header>
