---
import { SITE_WIDTH } from "../config";
---

<div class={`container ${SITE_WIDTH}  flex flex-col items-center gap-8 py-20`}>
  <p class="text-5xl font-bold">Hi, I'm Stephen</p>
  <div class="flex flex-col gap-2 text-brand-tertiary">
    <p class="text-4xl text-center">
      Data analyst in fraud detection and account security.
    </p>
    <p class="text-4xl text-center">
      I also build things for the <span
        class="underline decoration-wavy decoration-[3px] decoration-red-500"
        >web.</span
      >
    </p>
  </div>
  <!-- ? type error popup -->
  <div class="flex w-full justify-end">
    <div
      class="flex flex-col w-full max-w-[400px] border border-brand-tertiary sm:max-w-[500px]"
    >
      <div class="flex flex-row p-2">
        <p class="text-sky-300">
          const
          <span class="text-sky-500">data:</span>
          <span class="text-sky-400">Project |</span>
          <span class="text-yellow-500">null</span>
        </p>
      </div>
      <div class="p-2 border-t border-b border-brand-tertiary">
        <p class="text-gray-300">Object is possibly 'undefined'.</p>
      </div>
      <div class="flex p-2 bg-brand-secondary gap-4">
        <a class="text-blue-500" href="#contact">View Problem</a>
        <p class="text-white">Quick fix... (☕.)</p>
      </div>
    </div>
  </div>
</div>
