---
import { Image } from "@astrojs/image/components";
import words from "/words.png";
---

<div class={`flex flex-col items-center `}>
  <p class="text-3xl font-bold uppercase">Word Things</p>
  <!-- * Wrapper -->
  <div class="flex flex-col gap-4 w-full mt-10 max-w-2xl">
    <!-- ? Component -->
    <ul class="prose prose-xl prose-invert list-disc">
      <li>
        Deserunt enim id laborum esse dolore aliquip sunt commodo qui aliqua
        velit.
      </li>
      <li>Non commodo enim elit aliqua.</li>
      <li>
        Qui occaecat velit tempor deserunt sint velit ex in aute anim tempor.
      </li>
      <li>Occaecat reprehenderit proident reprehenderit est.</li>
      <li>
        Amet dolor adipisicing sunt labore dolor deserunt nisi anim mollit
        cupidatat.
      </li>
    </ul>
  </div>
</div>
