---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import LatestWork from "../components/LatestWork.astro";
import LatestArticles from "../components/LatestArticles.astro";
import Contact from "../components/Contact.astro";
import "@fontsource/source-sans-3";
import "@fontsource/roboto";

import { SITE_TITLE, SITE_DESCRIPTION, SITE_WIDTH } from "../config";
---

<html lang="en-us">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="flex flex-col scrollbar-hide">
    <Header />
    <Hero />
    <main
      class={`container ${SITE_WIDTH} min-h-[calc(100vh-0rem)] flex flex-col gap-10`}
    >
      <LatestWork />
      <LatestArticles />
      <Contact />
      <!-- <slot /> -->
    </main>
    <Footer />
  </body>
</html>
